﻿@{
    ViewData["Title"] = "Новое сообщение";
}

<form method="post" action=" /Book/NewPost">
   
        <p>
            <label>Имя: </label> <br />
            <input type="text" class="form-control" required name="UserName" maxlength="50" />
        </p>
        <p>
            <label>E-Mail: </label><br />
            <input type="email" class="form-control" placeholder ="user@gmail.com" required name="EMail" maxlength="50"/>
        </p>
        <p>
            <label>Домашняя страница(url): </label><br />
            <input type="url" class="form-control" name="Homepage" maxlength="200"/>
        </p>
        <p>
            <label>Сообщение: </label><br/>
            <textarea name ="Message" class="form-control" required placeholder="Не более 500 символов" maxlength="500" cols="50" rows="8"></textarea>
        </p>
    <button type="submit" class="btn btn-success" >Отправить</button>
    <button type="reset" class="btn" >Очистить</button>
    <a type="button" class="btn btn-warning"  href="~/Home">Отмена</a>
</form>
