﻿
@model List<GuestBook.Models.PostViewModel>
@{
    ViewData["Title"] = "Гостевая книга";
    int ThisPage = (int)ViewData["NowPage"];
    int PageCount = (int)ViewData["PageCount"];
    string row = (string)ViewData["Column"];
    string dir = (string)ViewData["Direction"];

    int LastPage = ThisPage - 1;
    int NextPage = ThisPage + 1;
}


<body>
    <div class="body-post">
        <div>
            <a class="btn btn-success " type="button" href="~/Book/NewPost">Добавить сообщение</a>
            
            <p align="right" class="pages">
                <!--Велоспед-->
                @if ((ThisPage > 2) && (PageCount > 3))
            {
                    @Html.ActionLink("First", "Page", "Book", new { page = 1, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                    <i><<</i>
                    if (ThisPage == PageCount)
                    {
                        @Html.ActionLink((LastPage - 1).ToString(), "Page", "Book", new { page = LastPage - 1, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                    }
                    @Html.ActionLink(LastPage.ToString(), "Page", "Book", new { page = LastPage, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                    <a type="button" class="btn btn-warning" href="">@ThisPage</a>
                    if (ThisPage != PageCount)
                    {
                        @Html.ActionLink(NextPage.ToString(), "Page", "Book", new { page = NextPage, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                    }
                }
                else
                {
                    @if (ThisPage == 1)
                {
                        @Html.ActionLink("1", "Page", "Book", new { page = 1, column = row, direction = dir }, new { @class = "btn btn-warning" })
                        if (PageCount >= 2) {@Html.ActionLink("2", "Page", "Book", new { page = 2, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" }) }
                        if (PageCount >= 3) {@Html.ActionLink("3", "Page", "Book", new { page = 3, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" }) }

                    }
                    else if (ThisPage == 2)
                    {
                        @Html.ActionLink("1", "Page", "Book", new { page = 1, column = row, direction = dir }, new { @class = "btn  btn-sm btn-success" })
                        @Html.ActionLink("2", "Page", "Book", new { page = 2, column = row, direction = dir }, new { @class = "btn btn-warning" })
                        if (PageCount >= 3)
                        { @Html.ActionLink("3", "Page", "Book", new { page = 3, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" }) }

                    }
                    else
                    {
                        @Html.ActionLink("1", "Page", "Book", new { page = 1, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("2", "Page", "Book", new { page = 2, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("3", "Page", "Book", new { page = 3, column = row, direction = dir }, new { @class = "btn btn-warning" })
                    }
                }


                @if ((ThisPage < PageCount - 1) && (PageCount > 3))
            {
                    <i>>></i>
                    @Html.ActionLink("Last", "Page", "Book", new { page = PageCount, column = row, direction = dir }, new { @class = "btn btn-sm btn-success" })
                }
            </p>
        </div>

        <br/>
        <form method="post" action=" /Book/Page">
            <label>Сортировать по: </label>
             <select required name="col">
                  <option value="last" hidden="" >@ViewData["ColumnName"]</option>
                  <option value="Date">Дата публикации</option>
                  <option value="UserName">Имя пользователя</option>
                  <option value="EMail" >E-Mail</option>
                  <option value="Message">Сообщение</option>
            </select>
            <label>Направление: </label>
            <select required name="dir">
                <option value="last" hidden="">@ViewData["DirectionName"]</option>
                <option value="asc">Возрастание</option>
                <option value="desc">Убывание</option>
            </select>
            <button type="submit" class="btn">Отправить</button>
        </form>
    </div>

    @foreach (GuestBook.Models.PostViewModel pvm in Model)
            {
        <div class="body-post">
            <div>
                <p class="user-post">@pvm.UserName</p>
                <p align="right" class="date-post">@pvm.Date.ToString("d")</p>
            </div>
            <p class="message-post">@pvm.MessageText</p>
            <i>@pvm.EMail</i>
        </div>
    }    
</body>