﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 1%;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    word-wrap: break-word;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.pages {
    margin:1%;
    float: right;
}

.body-orderby {
    margin:1%;
    width:100%;
}

.body-post {
    margin-top: 1%;
    padding: 1%;
    background-color: White;
    border: 1px solid ;
    border-radius: 5px;
    width: 100%;
}

.date-post {
    padding-left: 1%;
    width: 50%;
    font-weight: bold;
    float: right;
}
.navbar-inverse .navbar-brand {
    
    color: white;
}

.user-post {
    font-size: 120%;
    font-weight: bold;
    color: forestgreen;
    float: left;
    width: 50%;
}

.message-post {
    clear: both;
    width: 100%;
    border: 1px dotted #00ff90;
    border-radius: 5px;
    padding: 1%;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
