﻿@{
    ViewData["Title"] = "Задание";
}
<h3>Тестовое задание</h3>

<h4>Гостевая книга</h4>
<p>Описание</p>
<p>Гостевая книга предоставляет возможность пользователям сайта оставлять сообщения на сайте. Все данные введенные пользователем сохраняются в БД(mssql, postgresql, mysql), так же в базе данных сохраняются данные о IP пользователя и его браузере.
На главной странице приложения будет представлен список сообщений. И кнопка «Добавить сообщение». При нажатии на кнопку должна показаться всегда пустая форма добавления сообщения, а список сообщений скрыться.</p>
<p>Вывод списка сообщений</p>
<p>Сообщения должны выводится в виде таблицы/списка, с возможностью сортировки по следующим полям: дата добавления, имя пользователя и e-mail (как в порядке убывания, так и в обратном). Сама таблица/список содержит поля: дата добавления, имя пользователя, e-mail и текст.  Список сообщений должен быть разбит на страницы по 25 сообщений. Таким образом необходимо реализовать постраничный пейджинг. После сортировки страница сбрасывается на первую.  После добавления нового сообщения страница не сбрасывается. Состояние выбранной страницы должно сохранятся после рефреша страницы, другими словами если пользователь перешел на вторую страницу списка и потом скопировал ссылку в другой браузер список откроется тоже на второй странице.</p>
<p>Добавление сообщения</p>
<p>Форма добавления записи в гостевую книгу должна иметь следующие поля:</p>
<p>•	User Name - цифры и буквы латинского алфавита, обязательное поле</p>
<p>•	E-mail - формат email, обязательное поле</p>
<p>•	Homepage - формат url, необязательное поле</p>
<p>•	Text - непосредственно сам текст сообщения, HTML тэги недопустимы,  обязательное поле</p>
<p>Валидация вводимых данных должна быть как на стороне сервера так и клиента. При написании проекта следует обратить внимание на защиту от XSS атак и SQL –инъекций.</p>
<p>Добавление сообщения происходит по нажатию на кнопку “Добавить”. Рядом находиться кнопка «Очистить» и «Отмена».  Кнопки находятся под формой в один ряд.</p>
<p>Действия, происходящие при нажатии кнопок</p>
<p>•	Кнопка «Добавить» - при нажатии на эту кнопку необходимо: провалидировать введенные пользователем данные и, если значения не верны выдать рядом с каждым полем сообщение об ошибке. Если клиентская валидация прошла успешно то данные отправляются на сервер посредством ajax. Если сервер считает, что данные тоже валидны то они сохраняются в бд и клиентская форма закрывается, показывая обновленный список сообщений.</p>
<p>•	Кнопка «Очистить» - при нажатии на эту кнопку необходимо очистить все поля формы</p>
<p>•	Кнопка «Отмена» - при нажатии на эту кнопку форма закрывается и показывается список сообщений.</p>
<p>Требования</p>
<p>•	Фронтенд на ReactJS, Angular или Vue JS. Можно использовать typescript, requires, webpack.</p>
<p>•	Бэкенд  на любом языке из перечисленных: c#, php, python, nodejs. Обязательно использование какого-нибудь mvc фреймворка.  Организация серверной части в соответствии со стандартом REST API.</p>
<p>•	Объектно-ориентированный подход.</p>
<p>•	Не использовать готовую ORM, даже если она в составе выбранного вами фреймворка. Написать свою обертку для работы с бд.</p>
<p>•	Верстка должна быть адаптивной</p>
<p>•	CSS-стили, можно использовать препроцессор</p>

<p>Сдача данного тестового задания</p>
<p>Для сдачи тестового задания необходимо:</p>
<p>•	Предоставить код в виде zip архива без бинарных файлов.</p>
<p>•	Предоставить краткую step-by-step инструкцию по развертыванию приложения на локальном сервере. Данная инструкция должна содержать специфичные сведения о развертывания: что где лежит, последовательность установки.</p>
<p>•	Если в ходе исполнения задания вы заметили логические несоответствия об этом необходимо развернуто написать.</p>